.title h1, .title h1 a{
    font-family: 'Ruthie', cursive;
    font-size: 100px;
    text-decoration: none;
    color: #9AC2C5;
    letter-spacing: 1px;
    text-shadow: 1px 4px 1px #000;
    font-weight: 700;
    text-align: center;
}

.header-nav {
    width: 100%;
    margin-bottom: 30px;
}

.header-nav, .header-nav a {
    color: #FFFFFF;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #000;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: -100px;
    margin-left: 8vw;
    margin-right: 18vw;
}

.header-nav a:hover {
    color: #59626E;
    letter-spacing: 2px;
    text-shadow: 0 2px 0 #000;
    font-weight: 700;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.user-name {
    color: #888888;
    letter-spacing: 1px;
    text-shadow: 0 2px 0 #000;
    font-weight: 600;
    font-size: 21px;
    text-align: center;
}

label {
    color: #FFFFFF;
    opacity: 1;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.user-name {
    margin-top: -210px;
    margin-bottom: 200px;
}

div {
    text-align: center;
    align-items: center;
}

p.intro, footer {
    background-color: rgba(98, 89, 110, 0.7);
    border: none;
    width: 90%;
    margin-left: 5%;
    margin-right: -5%;
    padding: 9px 0;
    text-align: center;
}

button {
    text-align: center;
    width: 100%;
    padding: 8px 5px;
}

footer {
    color: #FFFFFF;
    letter-spacing: 1px;
    text-shadow: 0 2px 0 #000;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}