body {
    background-image: url('../images/44963217242_9eafb93c36_o.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 10%;
    background-position-y: 20%;
}

.hidden {
    visibility: hidden;
}

.intro {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: inherit;
    letter-spacing: 1px;
    text-shadow: 1px 2px 1px #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}

.reg-page {
    text-align: center;
}

.logLink {
    text-align: right;
    color: #9AC2C5;
    text-shadow: 0 1px 0 #000;
}

.reg-form {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 310px;
    position: relative;
    margin: 21px auto 30px;
    padding: 10px;
    overflow: hidden;

    /* Styles */
    background: #59626E; 
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.reg-form label {
    /* Size and position */
    width: 50%;
    float: left;
    padding-top: 9px;

    /* Styles */
    color: #ddd;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}

.reg-form input[type=text],
.reg-form input[type=password] {
    /* Size and position */
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;

    /* Styles */
    background: linear-gradient(#1f2124, #27292c);    
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;

    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;

}

.reg-form input[type=text]:hover,
.reg-form input[type=password]:hover,
.reg-form label:hover ~ input[type=text],
.reg-form label:hover ~ input[type=password] {
    background: #27292c;
}

.reg-form input[type=text]:focus, 
.reg-form input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494d54;
    border-color: #51cbee;
    outline: none; /* Remove Chrome outline */
}

.reg-form button[type=submit] {
    /* Width and position */
    width: 100%;
    padding: 8px 5px;
  
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
  
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

.reg-form input[type=submit]:hover { 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}

.reg-form input[type=submit]:active { 
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}

.no-boxshadow .reg-form input[type=submit]:hover {
    background: #2a92d8;
}

/* Gradient line */
.reg-form:after {
    /* Size and position */
    content: "";
    height: 1px;
    width: 33%;
    position: absolute;
    left: 20%;
    top: 0;

    /* Styles */
    background: linear-gradient(to left, transparent, #444, #b6b6b8, #444, transparent);
}

/* Small flash */
.reg-form:before {
    /* Size and position */
    content: "";
    width: 10px;
    height: 6px;
    position: absolute;
    left: 34%;
    top: -7px;
    
    /* Styles */
    border-radius: 50%;
    box-shadow: 0 0 6px 4px #fff;
}

.reg-form div:nth-child(1):before{
    /* Size and position */
    content: "";
    width: 410px;
    height: 325px;
    position: absolute;
    top: -20px;
    left: 125px;

    /* Styles */
    transform: rotate(75deg);
    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    pointer-events: none;
}

.no-pointerevents .reg-form div:nth-child(1):before {
    display: none;
}